CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_BPF_UNPRIV_DEFAULT_OFF=y
CONFIG_PSI=y
CONFIG_PSI_DEFAULT_DISABLED=n
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_BPF_KPROBE_OVERRIDE=y
CONFIG_CGROUPS=y
CONFIG_HAVE_EBPF_JIT=y
CONFIG_DEBUG_INFO_BTF=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_IKHEADERS=m
CONFIG_FTRACE=y
CONFIG_FUNCTION_TRACER=y
CONFIG_KPROBES=y
CONFIG_KPROBE_EVENTS=y
CONFIG_UPROBE_EVENTS=y
CONFIG_BPF_EVENTS=y
CONFIG_NET=y
CONFIG_INET=y
CONFIG_IPV6=y
CONFIG_NETFILTER=y
CONFIG_NET_CLS_BPF=m
CONFIG_NET_ACT_BPF=m
CONFIG_NET_SCH_INGRESS=y
CONFIG_XDP_SOCKETS=y
CONFIG_BPF_STREAM_PARSER=y
CONFIG_CGROUP_BPF=y
CONFIG_BPF_LSM=y
CONFIG_PERF_EVENTS=y
CONFIG_BPF_KPROBE_OVERRIDE=y

# Hyper-V / Azure
CONFIG_HYPERV=y
CONFIG_HYPERV_UTILS=y
CONFIG_HYPERV_BALLOON=y
CONFIG_HYPERV_STORAGE=y
CONFIG_HYPERV_NET=y
CONFIG_NET_VENDOR_MICROSOFT=y

# Other helpers
CONFIG_CRYPTO_USER_API=y
CONFIG_VMLINUX_VALIDATION=y
CONFIG_MODULES=y


# Disable problematic/unused options
# CONFIG_KUNIT is not set
# CONFIG_REGMAP_KUNIT is not set
# CONFIG_HDRTEST is not set
# CONFIG_XFS_ONLINE_SCRUB is not set
# CONFIG_XFS_ONLINE_REPAIR is not set
# CONFIG_WERROR is not set

CONFIG_LWTUNNEL_BPF=y
CONFIG_BPF_PRELOAD=y
CONFIG_BPF_PRELOAD_UMD=y
CONFIG_BPFILTER=y
CONFIG_BPFILTER_UMH=m


# CPU
CONFIG_SMP=y
CONFIG_NUMA=y
CONFIG_NUMA_BALANCING=y
CONFIG_CPU_FREQ=y
CONFIG_CPU_IDLE=y


# 1. Enable PSI by disabling conflicting options
CONFIG_CPU_IDLE_GOV_MENU=n
CONFIG_NO_HZ_FULL=n

# 2. Disable IBT to fix MSR probe issue
CONFIG_X86_KERNEL_IBT=n

# 3. Set custom kernel name
CONFIG_LOCALVERSION_AUTO=n
CONFIG_LOCALVERSION="-azure-full"
